:root {
    --primary-color: #252422;
    --secondary-color: #403D39;
    --tertiary-color: #CCC5B9;
    --auxillary-color: #EB5E28;
    --white-color: #FFFCF2;
    --font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

#app {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto;
}

aside {
    background-color: var(--tertiary-color);
    padding: 20px;
    height: 100vh;
    text-align: center;
}

body {
    background-color: var(--white-color);
    color: var(--primary-color);
}  

button {
    cursor: pointer;
    background-color: var(--auxillary-color);
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 20px;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

hr {
    border: 0;
    height: 1px;
    background: var(--secondary-color);
    margin: 20px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 1rem;
}

.project {
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 15px;
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    overflow: hidden;
}

#project-list {
    max-height: 70vh;
    overflow-y: auto;
    margin-top: 20px;
}

svg {
    fill: var(--auxillary-color);
    width: .5em;
    height: .5em;
    position: relative;
    bottom : 12px;
}

.svg-button {
    background-color: var(--tertiary-color);
    color: var(--auxillary-color);
    text-align: center;
    font-size: 5rem;
    padding: 0;

}

.svg-button:hover {
    background-color: var(--tertiary-color);
}

.svg-button:hover > svg{
    background-color: var(--tertiary-color);
    fill: var(--white-color);
}